body {
    background-image: url(./photo6.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 100vh;
    display: block;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .pax{
      margin-top: 15rem;
  }
  h1 {
        font-size: 50px;
      margin: 20px 10px;
      color: rgba(240, 187, 12, 0.925);
  }
  
  h2 {
      font-size: 50px;
      margin: 20px ;
      color: #fff;
  }
  p{
      font-size: 20px;
      margin: 20px ;
      color: rgb(250, 244, 218);
  }
  button {
      border: none;
      padding-top: 10px;
      padding-bottom: 10px;
      color: white;
      font-weight: bold;
      width: 200px;
      margin-bottom: 5px;
      border-radius: 5px;
  }
  
  #increase-btn{
      background: rgb(192, 4, 4);
  }
  
  #save-btn {
      background: rgb(3, 136, 3);
  }

  @media (max-width:425px) {
    .pax{
        margin-top: 5rem;
    }
  }